li.item(class = open)
  .itemImage(style="background-image:url("+val.image+")")
  .content
    h4
      a(href = val.url target="_blank") #{val.title}
    if val.meta.ogDescription
      p.description #{val.meta.ogDescription}
    .bottom
      h5.direction <strong>#{direction}</strong> #{val[who_user]}
      .website
        img.favicon(src = "http://"+extractDomain(val.url)+"/favicon.ico" onError = "this.style.display='none'" )  
        h6  
          a(href = val.url target="_blank") #{extractDomain(val.url)}
      span.openeed(data-id=val._id data-open = val.open)
        if val.open
          span.glyphicon.glyphicon-eye-open(aria-hidden="true")
          h6 Read 
        else
          span.glyphicon.glyphicon-eye-close(aria-hidden="true")
          h6 Unread  
      span.archive(data-id=val._id)
        span.glyphicon.glyphicon-folder-close(aria-hidden="true")
        h6
      span.remove(data-id=val._id)
        span.glyphicon.glyphicon-trash(aria-hidden="true")
        h6
