extends template.pug		
	
block content
	.container
		.row
			.col-sm-10.col-sm-offset-1.youshould_form_container
				form(id="youshould", method="post", action="/list")
					.col-sm-3
						div.form-group
							input.form-control(name="who" id="who" autocomplete="off"  data-provide="typeahead" placeholder="WHO")
					.col-sm-2.should_container
						h3.should SHOULD
					.col-sm-2

						div.form-group
							select.form-control(name="verb")
								option read
								option listen to
								option watch
					.col-sm-4
						div.form-group
							input.form-control(name="url" id = "url")
					.col-sm-1
						div.form-group
							input.btn.btn-primary(type="submit")
				.row
					.col-sm-offset-1.col-sm-10
						ul.master_list
							if itemsSent
								each val in itemsSent
									- var open = (val.open ? 'read' : '')
									li.item(class = open)
										.col-sm-2.itemImage(style="background-image:url("+val.image+")")
										.col-sm-8
											h4
												a(href = val.url target="_blank") #{val.title}
											.bottom
												h5 You think #{val.who} should #{val.verb} this
												img.favicon(src = "http://"+extractDomain(val.url)+"/favicon.ico")
												h6
													a(href = val.url target="_blank") #{extractDomain(val.url)}
												span.openeed(data-id=val._id data-open = val.open)
													if val.open
														span.glyphicon.glyphicon-eye-open(aria-hidden="true")
														h6 Read
													else
														span.glyphicon.glyphicon-eye-close(aria-hidden="true")
														h6 Unread
												span.archive(data-id=val._id)
													span.glyphicon.glyphicon-folder-close(aria-hidden="true")
													h6
												span.remove(data-id=val._id)
													span.glyphicon.glyphicon-trash(aria-hidden="true")
													h6
